<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/classes/style.css"></link>
    <title>Static page</title>
</head>
<body>
    <!-- Business Development -->
    <div class="container bg-1">
        <div>
            <h2 class="business">Business<br />Development</h2>
            <p class="business">Have an idea or inquiry for Waze business development?</p>
            <button class="business">Share your ideas</button>
        </div>
    </div>

    <!-- Profiles -->
    <div class="container bg-2">
        <div>
            <div class="top">
                <h2 class="profile">Your Profiles</h2>
                <p class="profile">See how your different profiles appear in Google services</p>
                <div class="image-holder">
                    <div class="image1"></div>
                    <div class="image2"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        
        <div class="bottom">
            <button class="profile">See profiles</button>
        </div>
    </div>

    <!-- Subscribe -->
    <div class="container bg-2">
        <div>
            <div class="banner"></div>
            <div><div class="lock"></div><h2 class="subscribe">SUBSCRIBE TO ANY PLAN</h2></div>
            <h3 class="subscribe">Get more features in Google Photos</h3>
            <p class="subscribe">Bring your favorite moments to life with more Google Photos editing tools for Android and iOS, including Magic Eraser. Subject to eligibility.</p>
            <button class="subscribe">View details</button>
        </div>
    </div>
</body>
</html>